:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: linear-gradient(to bottom, rgba(17, 50, 55, 1) 0%, rgba(18, 43, 50, 1) 12%, rgba(19, 36, 46, 1) 28%, rgba(20, 26, 40, 1) 67%, rgba(14, 18, 28, 1) 100%); */
  background: linear-gradient(to bottom left,
      #113237 0%,
      #122B32 7%,
      #13242E 18%,
      #141A28 45%,
      #0E121C 100%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
}

/* Main layout */



.main-layout {
  display: flex;
  height: 100vh;
}

.side-bar-placeholder {
  flex-basis: 15%;
  flex-shrink: 1;
}

.page-placeholder {
  flex-basis: 85%;
  flex-grow: 1;
  max-width: calc(100% - 300px);
  height: 100%;
}

.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  height: 97vh;
}


.auth-content {
  background-color: #181F30;
  padding: 2rem 2rem;
  border-radius: 1.5rem;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.auth-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 10px;
}

.auth-title img {
  width: 80px;
  margin-bottom: 20px;
}

.auth-title h2 {
  font-size: 1.5rem;
  margin: 0;
}

.auth-title p {
  font-size: 1rem;
  margin: 0;
  font-weight: 200;
  color: grey;
}


.auth-content-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.8rem;

}

.auth-content-form label {
  color: #fff;
  font-size: 0.8rem;
}

.auth-content-form label.error {
  color: red;
}

.auth-content-form p {
  color: #fff;
}

.auth-content-form p.error {
  color: red;
}

.auth-content-form input {
  width: 95%;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.auth-content input.error {
  border: 1px solid red;
}

.auth-undecorated-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}


.auth-undecorated-button:hover {
  color: #0BBD8B;
}

.auth-oauth-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.8rem;
  font-size: 1rem;
  color: white;
  padding: 0 1rem;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* Sidebar */

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #181F30;
  padding: 1.5rem 0.5rem;
  height: 100vh;
  box-shadow: 2px 2px 24px 1px rgba(0, 0, 0, 0.31);
  width: 300px;
  transition: width 0.3s ease;
}

.side-bar.minimized {
  width: 80px;
}

.side-bar.minimized .app-title {
  margin: 0 auto 20px auto;
  padding: 0;
}

.side-bar.minimized .app-title h2 {
  display: none;
}

.side-bar.minimized .toggle-sidebar {
  right: -50px;
}

.side-bar.minimized .menu-text {
  display: none;
}

.side-bar.minimized .menu-icon {
  margin-right: 0;
  display: flex;
}


.side-bar.minimized .profile-summary-details {
  display: none;
}

.side-bar.minimized .profile-summary {
  padding: 0;
}

.side-bar.minimized .profile-summary-image {
  margin: 0 auto;
}

.side-bar.minimized .profile-summary-image img {
  width: 50px;
}

.side-bar.minimized .menu ul li a {
  padding-left: 0;
  justify-content: center;
}

.toggle-sidebar {
  display: flex;
  align-items: center;
  background-color: #232C43;
  border: none;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  box-shadow: 2px 2px 24px 1px rgba(0, 0, 0, 0.31);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  z-index: 10;
  transition: right 0.3s ease;

}

.toggle-sidebar:hover {
  color: #0BBD8B
}

.app-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  gap: 0.2rem;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  transition: opacity 0.3s ease, margin 0.3s ease;
}

.app-title img {
  width: 20px;
  height: 20px;
  padding: 0.5rem;
}

.app-title h2 {
  margin: 0;
  font-weight: 400;
}

.profile-summary {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
  margin-bottom: 20px;
  padding: 1rem;
  transition: opacity 0.3s ease, margin 0.3s ease;
}

.profile-summary-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.8;
}

.profile-summary-image img {
  width: 85px;
  border-radius: 100px;
  border: 4px solid #666;
}

.profile-summary-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.profile-summary-info {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  line-height: 1.2rem;
}

.profile-summary-info h2 {
  font-size: clamp(0.5rem, 0.8rem, 1rem);
  font-weight: 400;
  margin: 0;
}

.profile-summary-info p {
  font-size: 0.8rem;
  color: #666;
  margin: 0;
}

.profile-summary-progress-container {
  display: flex;
  align-items: center;
  background-color: #474747;
  height: 5px;
  border-radius: 2rem;
  border: 3px solid #666;
}

.profile-summary-progress {
  background-color: #BAE9BA;
  height: 5px;
  border-radius: 2rem;
}

.menu {
  margin-top: 20px;
  transition: opacity 0.3s ease, margin 0.3s ease;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1.5rem;
  list-style: none;
}

.menu li {
  /* Temporary border */
  width: 100%;
  border-radius: 15px;
  padding: 1rem;
}

.menu ul li a {
  display: flex;
  /* justify-content: center; */
  padding-left: 2rem;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  gap: 0.5rem;
}

.menu ul li:hover {
  color: #0BBD8B;
  background-color: #232C43;
}

.menu ul li.active-menu {
  background-color: #232C43;
}

.menu ul li.active-menu a {
  color: #0BBD8B;
}

.menu-item-container {
  position: relative;
  /* Positioning context for the tooltip */
  display: flex;
  align-items: center;
  gap: 10px;
  /* Space between icon and text */
}

.tooltip {
  position: absolute;
  left: calc(100% + 35px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #232C43;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 20;
  margin-left: 10px;
}

/* Show tooltip on hover */
.menu-item-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.menu-icon {
  display: flex;
  vertical-align: middle;
}

/* Admin */

.admin {
  padding: 0 1rem;
  height: 100%;
  overflow-x: hidden;
}


.admin-container {
  display: flex;
  flex-direction: column;
  background-color: #181F30;
  box-shadow: 2px 2px 24px 1px rgba(0, 0, 0, 0.31);
  border-radius: 1.25rem;
  height: 93%;
  padding: 3rem;
  gap: 2rem;
}

.admin-container h1 {
  margin: 0;
}

.admin-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 0.5px solid rgba(169, 169, 169, 0.12);
}

.admin-section-details {
  display: block;
}

.admin-section-details h1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.admin-section-details p {
  margin: 0;
  font-weight: 200;
  color: grey;
  font-size: 1.5rem;
}


.action-button-primary {
  background-color: #0BBD8B;
  border: transparent;
  border-radius: 0.8rem;
  font-size: 1rem;
  color: #ffffff;
  padding: 0 1rem;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Disabled state */
.action-button-primary:disabled,
.action-button-primary.disabled {
  background-color: #d3d3d3;
  color: #a1a1a1;
  cursor: not-allowed;
  opacity: 0.6;
}

.action-button-secondary {
  background-color: transparent;
  border: 1px solid #0BBD8B;
  border-radius: 1rem;
  font-size: 1.25rem;
  color: #0BBD8B;
  padding: 0 2rem;
  height: 60px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: linear-gradient(to bottom left,
      #113237 0%,
      #122B32 7%,
      #13242E 18%,
      #141A28 45%,
      #0E121C 100%);
  padding: 2rem;
  border-radius: 8px;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 50px;
}

.modal-content-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}


.modal-content-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.modal-button-group {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 94%;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
}

.modal-content select option {
  width: 95%;
  background-color: #181F30;
}

.modal-content input:focus,
.modal-content textarea:focus,
.modal-content select:focus {
  border: 1px solid #0BBD8B;
  outline: none;
}

.modal-content .price-input {
  position: relative;
  width: 95%;
}

.modal-content .price-input span {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.5rem;
  pointer-events: none;
}

.modal-content .price-input input {
  padding-left: 2.5rem;
}

.stat-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.stat-selector select {
  width: 45%;
}

.stat-selector input {
  width: 30%;
}

.stat-selector button {
  width: 10%;
}

.modal-content-stat {
  margin-bottom: 3rem;
}

.modal-content-stat button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.0rem;
  cursor: pointer;
  text-decoration: underline;
}

.modal-content-stat button:hover {
  color: #0BBD8B;
}

.loading-modal-content {
  background: linear-gradient(to bottom left,
      #113237 0%,
      #122B32 7%,
      #13242E 18%,
      #141A28 45%,
      #0E121C 100%);
  border-radius: 8px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loading-modal-content-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-modal-content-message h2 {
  margin: 0;
  padding: 0;
}

.loading-modal-content-message img {
  margin: 0;
  padding: 0;
}



.admin-subpage-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.admin-subpage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.admin-subpage-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.admin-subpage-title h1 {
  font-size: 2rem;
}

.admin-subpage-title button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  display: flex;
}

.table-container {
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}